@import './base.css';

#app {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 2rem;

  place-items: center;
  font-weight: normal;
}

.container {
  display: grid;
  grid-pattern: auto / 15%, auto / auto;
  
}
.content {

}

.footer {
  display: grid;
}

.header{
  display: grid;
  grid-pattern: 5% auto 10%;
}

.sidebar {
  display: grid;
}

button {
  padding: 0.2%;
  width: max;
  height: auto;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
