@import './base.css';

#app {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 2rem;

  place-items: center;
  font-weight: normal;
}

.container {
  display: grid;
  grid-pattern: auto / 15%, auto / auto;
  
}
.content {

}

.footer {
  display: grid;
}

.header{
  display: grid;
  grid-template: 20% auto 20%;
  background-color: blue;"
}

.sidebar {
  display: grid;
  text-align: center;
  background-color: cadetblue;
}

button {
  padding: 0.2%;
  width: max;
  height: auto;
}

#logo {
  height: 100%;
  width: 100%;
  object-fit: contain;      
}

#header-buttons {
  text-align: right;
  margin: 10px;
  padding: 10px;
  display: grid;
  grid-row: 30% auto;
}
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
