@import './base.css';
/*
#app {
  display: grid;

  place-items: center;
  font-weight: normal;

  width: 100vw;
  height: 100vh;
  grid-template-rows: 15% auto 10%;
  grid-template-columns: auto;
  
  background-color: yellowgreen;
}

.header{
  display: grid;
  grid-template-columns: 20% 60% 20%;
  background-color: blue;
  width: 100%;
  height: 100%;
}

#header-logo {
  height: 100%;
  width: 100%;
  object-fit: contain;      
}

.header-welcome {
  text-align: center;
}

#header-buttons {
  text-align: right;
  display: grid;
  grid-template-rows: 30% auto;
  grid-template-columns: 50% 50%;
}


.main {
  display: grid;
  grid-template-columns: 20vw 80vw;
}

.content {
  width: 100%;
  height: 100%;
}

.sidebar {
  display: grid;
  text-align: center;
  background-color: cadetblue;
  height: 100%;
}

.footer {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
  background-color: blueviolet;
  width: 100%;
  height: 100%;
}
*/